* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.body {
    background-color: rgb(201, 201, 227);
    width: 100vw !important;
    min-height: 100vh !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {}

.err {
    color: red;
}

.success {
    border-color: green !important;
}

.error {
    border-color: red !important;
}